.App {
  width: 100%;
  height: 100vh;
  flex: 1;
  background-color: var(--lighterGrey);
  -webkit-tap-highlight-color: transparent;
}

.menu-bar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--googleBlue);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.1s ease-in;
}

.main-app-wrapper {
  height: 93vh;
  background-color: white;
  padding: 25px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
}

.dashboard-container > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container > .title {
  color: var(--grey);
}

.dashboard-container > .left-container {
  width: 25vw;
  height: 90vh;
  overflow-y: scroll;
}

.dashboard-container > .right-container {
  width: 75vw;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.crypto-information-container {
  background-color: var(--bluishLightGrey);
  width: 50%;
  padding: 20px;
  border-radius: 25px;
}

.learning-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.learning-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  user-select: none;
}

.learning-card.active {
  background-color: var(--bluishLightGrey);
}

.learning-card-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.learning-card-icon-container {
  padding: 5px;
  border-radius: 15px;
  background-color: var(--bluishLightGrey);
}

.learning-card-icon {
  padding-top: 5px;
}

.learning-card-title-desc {
  display: flex;
  flex-direction: column;
}

.learning-card-title {
  font-size: 20px;
  font-weight: 700;
}

.learning-card-description {
  font-size: 14px;
  color: var(--grey);
  font-weight: 500;
}

.learning-card-right {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.complaints-wrapper {
  position: relative;
  height: 100%;
}

.complaints-wrapper.loaded {
  animation: wrapper-appear 1s ease forwards;
}

@keyframes wrapper-appear {
  0% {
    opacity: 0;
    /* transform: translateY(30px); */
  }
  100% {
    opacity: 1;
  }
}

.right-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.right-items > * {
  padding-right: 1rem;
}

.logo {
  cursor: pointer;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 900;
}

.menu-bar-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.menu-bar-button:hover {
  font-size: 18px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.profile-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: rebeccapurple;
  border-radius: 50%;
  background-color: var(--bluishLightGrey);
}

.profile-logout-text {
  transition: all 0.2s ease-in;
  background-color: var(--lighterBlue);
  z-index: 2;
  cursor: pointer;
  border-radius: 15px;
  font-size: 12px;
  padding: 5px;
  color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 5px;
  visibility: hidden;
  opacity: 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 20px -10px;
}

.profile:hover > .profile-logout-text {
  visibility: visible;
  top: 60px;
  opacity: 1;
}

.filter-title {
  padding-right: 3px;
  text-transform: capitalize;
  font-weight: 500;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2vh;
}

.modal-container {
  transition: all 0.2s ease-in;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.73);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.modal-header > .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.modal-close-button {
  font-size: 2rem;
  cursor: pointer;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 500px;
  min-height: 335px;
  opacity: 1;
  background-color: white;
  padding: 3vh;
  border-radius: var(--highBorderRadius);
  z-index: 4;
  transition: all 0.2s ease-in;
}

.modal-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  justify-content: center;
}

.modal-item {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex-grow: 1;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bluishLightGrey);
}

.modal-item-title {
  text-transform: capitalize;
  font-weight: 700;
}

.modal-item-desc {
  text-transform: capitalize;
}

.modal-container.hidden {
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
}

.modal.hidden {
  opacity: 0;
  transform: translate(0, -5%);
  visibility: hidden;
}

.modal-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vh;
  gap: 20px;
}

.modal-buttons-container > .button {
  width: auto;
  flex-basis: 100%;
}

.add-complaint-plus-container {
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: var(--lightGrey);
  padding: 12px;
  border-radius: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1vh;
  margin-right: 1vh;
}

.add-complaint-plus {
  transition: all 0.2s ease-out;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 10px;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.add-complaint-plus-container:hover {
  border-radius: 15px;
  /* rotate: -90deg; */
}

.add-complaint-plus-container:hover > .add-complaint-plus {
  /* border-radius: 15px; */
  rotate: 90deg;
}

.add-complaint-plus:hover {
  rotate: 90deg;
}

.add-complaint-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  animation: loading-appear 1s ease both;
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-radius: var(--lowBorderRadius);
  flex-basis: 100%;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}

.button.red {
  background-color: var(--red);
}

.button.invert {
  background-color: white;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
}

.login-page {
  background-color: var(--lighterGrey);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  height: 65vh;
  width: 55%;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.login-container > .image {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lighterBlue);
  border-radius: 50px;
}

.login-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-input-wrapper {
  background-color: var(--bluishLightGrey);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
  min-width: 200px;
}

.text-input {
  color: var(--darkGrey);
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  height: 100%;
}

.text-input-wrapper > .icon-wrapper {
  background-color: white;
  color: var(--googleBlue);
  padding: 7px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 5px;
}

.text-input:focus {
  border: none;
}

.text-input-eye {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

.text-input-error {
  color: var(--red);
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.login-forgot-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forgot-password {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: var(--googleBlue);
  margin-top: 15px;
}

.login-button {
  background-color: var(--googleBlue);
  color: white;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .login-container {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    border-radius: 0;
  }
  .login-container > .image {
    height: 50vh;
    width: auto;
    border-radius: 0;
    background-color: white;
  }
  .login-wrapper {
    width: auto;
    height: 50vh;
  }
  .dashboard-container {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
    height: 50vh;
  }
  .right-container {
    width: 100%;
    height: 50vh;
  }
}

.option {
  text-transform: capitalize;
}

.standard-select {
  text-transform: capitalize;
}

.loading-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  width: fit-content;
  border-radius: 50px;
  height: 20vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: loading-appear 1s ease both;
}

@keyframes loading-appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
    scale: 0.9;
  }
  50% {
    transform: translateY(0);
    scale: 0.99;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

.loading-wrapper.loaded {
  animation: loading-disappear 1s ease forwards;
}

@keyframes loading-disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
  50% {
    opacity: 0.1;
    transform: translateY(0);
    scale: 0.99;
  }
  60% {
    opacity: 0;
    transform: translateY(-50px);
    scale: 0.9;
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
    scale: 0.9;
    display: none;
    visibility: hidden;
  }
}

.alert-wrapper {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.alert-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.alert-icon {
  padding: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-icon.info {
  background-color: var(--googleBlue);
}

.alert-icon.success {
  background-color: var(--green);
}

.alert-icon.error {
  background-color: var(--red);
}

.alert-close-button {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-desc {
  padding-left: 5px;
  padding-right: 5px;
}

.special-select-wrapper {
  background-color: var(--bluishLightGrey);
  position: relative;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  width: fit-content;
  border-radius: 25px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.special-select-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease;
  visibility: hidden;
  opacity: 0;
}

.special-select-dropdown.open {
  visibility: visible;
  opacity: 1;
}

.special-select-item {
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  transition: all 250ms ease;
}

.special-select-item:hover {
  background-color: var(--lighterGrey);
}
